<!DOCTYPE html>
<html>
  <head>
    <title>Alliance Digital Repository -- Colorado College Utilities</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    {# Styles specific to this web app #}
    <link href="{{ url_for('static', filename='css/default.css') }}" rel="stylesheet">

    {% block more_css %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
   <div class="container">
    {% block main_view %}
    {% endblock %}
 

   {#
    {% block footer %}
    <div class="row">
     <footer class="col-md-12">
       <p>This web app was developed by <a href="mailto:jeremy.nelson@coloradocollege.edu">Jeremy Nelson</a> at 
       <a href="http://www.coloradocollege.edu/">Colorado College</a> for use with the 
       <a href="http://dacc.coalliance.org/">Digital Archives of Colorado College</a>, a service of the 
       <a href="http://www.coalliance.org/software/digital-repository">Colorado Alliance of Research Library's
       Digital Repository</a> service. All source-code is licensed under the Apache 2 and is available at
       <a href="https://github.com/jermnelson/adr-cc-utilities">github</a>. All content in this web app
       is copyrighted by Jeremy Nelson and Colorado College under the 
       <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported 
       License.</a>
     </footer>
    </div>
    {% endblock %}
    #}
   </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/knockout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hammer.min.js') }}"></script>
    {% block more_js %}{% endblock %}
  </body>
</html>
