{% extends 'base.html' %}

{% block main_view %}
{# Main content Row #}
<div class="row">
 {# Main Title #} 
 <div class="col-md-8">
    <h1>ADR-CC Utilities</h1>
    <p class="lead">This web app contains a number of Fedora Commons
     Utilites for <a href="/pid-mover">moving objects</a> within a repository 
     and <a href="/batch-template-add">batch creation</a> of Fedora objects from a template. 
    </p> 
    <div class="alert alert-danger">
     <strong>WARNING!</strong> this web app has read/write access to your depository 
     and is designed to run internally on your institution's network. <strong>DO NOT</strong> 
     allow open-web access to this web app. 
    </div>
    <h3>Fedora Variables</h3>
     <table class="table table-striped table-bordered">
      <thead>
       <tr>
        <th>Variable</th>
        <th>Value</th>
       </tr>
      </thead>
      <tbody>
        <tr>
          <td>FEDORA_ROOT </td>
          <td>{{ config['FEDORA_ROOT'] }}</td>
        </tr>
        <tr>
         <td>FEDORA_USER</td>
         <td>{{ config['FEDORA_USER'] }}</td>
        </tr>
        <tr>
         <td>FEDORA_PIDSPACE </td>
         <td> {{ config['FEDORA_PIDSPACE'] }}</td>
        </tr>
        <tr>
         <td>FEDORA_TEST_ROOT </td>
         <td> {{ config['FEDORA_TEST_ROOT'] }}</td>
        </tr>
        <tr>
         <td>FEDORA_TEST_PIDSPACE </td>
         <td> {{ config['FEDORA_TEST_PIDSPACE'] }}</td>
       </tr>
      </tbody>
     </table> 
 {# END Main Title #} 
 </div>
 <div class="col-md-4">
 {% include 'snippets/utility-listing.html' %} 
 </div>
{# END Main content Row #}
</div>
{% endblock %}
